[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=bulicommander
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Buli Commander
Comment=A document manager for Krita (with some Buli inside)